// https://iamkate.com/code/tree-views/
// https://www.google.com/search?q=css+tree+with+columns&rlz=1C1JSBI_enUS1066US1066&oq=css+tree+with+columns&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIHCAEQIRigAdIBCjE2NDcwajFqMTWoAgCwAgA&sourceid=chrome&ie=UTF-8#



$mainColor: rgb(0, 0, 0 , 0.6);
$mainBackground-color: rgb(255, 255, 255, 0.6);
$mainSelected-backgroundColor: rgb(238, 242, 22,0.8);
$mainNode-color: rgb(23, 23, 17);
$mainPanel-borderColor: rgb(39, 39, 36);
$mainText-color: rgb(0, 0, 0 );

.treecoeElement {
	display: block;
	height: 100%;
	width: 100%;
  
}

.treecoeWidget {
	margin: auto;
	width: 198px;
	height: 54px;
	border-radius: 5px;
	background-color: $mainBackground-color;
	padding: 3px;
	opacity: 0.5;
}

//#item15::before {color: rgb(12, 12, 228)}
#item15 ul li::before  {
	color: rgb(235, 8, 224) !important;
}

.pseudo-update summary::before{ color:  rgb(175, 14, 113) }


.itemselected  {
	background: $mainSelected-backgroundColor !important;
	color: $mainBackground-color;
 }

.tree{
  --spacing : 2.0rem; // line height of text
  --radius  : 10px; // radius of markers
  overflow : scroll !important;
 
}

.tree li{
  display      : block;
  position     : relative;
  padding-left : calc(2.5 * var(--spacing) - var(--radius) - 2px);
  color: $mainText-color;
  margin: 10px 0;
}


  
.tree ul{
  margin-left  : calc(var(--radius) - var(--spacing));
  padding-left : 0;
}

.tree ul li{
  border-left : 2px solid $mainBackground-color;
  white-space: nowrap;
}

// Sub Items
.tree ul li:last-child{
  border-color : transparent;
  color:$mainNode-color;
}


.tree ul li::before{
  content      : '';
  display      : block;
  position     : absolute;
  top          : calc(var(--spacing) / -2);
  left         : -2px;
  width        : calc(var(--spacing) + 2px);
  height       : calc(var(--spacing) + 1px);
  border       : solid #ddd;
  border-width : 0 0 2px 2px;
}

.tree summary{
  display : block;
  cursor  : pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker{
  display : none;
}

.tree summary:focus{
  outline : none;
}

.tree summary:focus-visible{
  outline : 1px dotted #000;
}

// node circles 
.tree li::after,
.tree summary::before{
  content       : '';
  display       : block;
  position      : absolute;
  top           : calc(var(--spacing) / 2 - var(--radius));
  left          : calc(var(--spacing) - var(--radius) - 1px);
  width         : calc(2 * var(--radius));
  height        : calc(2 * var(--radius));
  border-radius : 50%;
  background    : $mainNode-color;
}

.tree summary::before{
  content     : '+';
  z-index     : 1;
  background  : $mainNode-color;
  color       : $mainBackground-color;
  line-height : calc(2 * var(--radius) - 2px);
  text-align  : center;
}

.tree details[open] > summary::before{
  content : '−';
}

.contentcontainer {
  background-color : transparent;

}
.tree-container {

  overflow : scroll;

}
.tree-uicontainer {

  background-color : transparent;
  display : flex;
  flex-direction : column;
  position : fixed; //Allowed values: static, absolute, fixed, relative, sticky, initial, inherit;  
  z-index:  900 !important;


}

// rgba(29,67,156,0.85);
.tree-toolbarcontainer  {
	display:flex;
  flex: auto;
  justify-content: space-between;
  border-style: solid;
  border : rgba(0,0,0,0.25);
  background-color:    $mainBackground-color;
  z-Index :  910;
  padding-top: 2px;
}

// rgba(29,67,156,0.85);
.filter-toolbarcontainer  {
	display:flex;
  flex: auto;
  //justify-content: space-between;
  border-style: solid;
  border : rgba(0,0,0,0.25);
  background-color: $mainBackground-color;
  z-Index :  910;
}
//.filter-input {
//
//  
// 
//}

// rgba(29,67,156,0.85);
.tb-searchbutton   {
  align-content: flex-end;
	width : 32px;   
	height : 32px;
  background-color: $mainNode-color;

}


.treepanel {
  position : fixed;
  display : flex;
  flex-direction: column;
  border  : rgba(0,0,0,0.1);
  border-style: solid;
  background-color : $mainBackground-color;
  //overflow-x : scroll;

  z-index:  900 !important;

  //border-top-left-radius: 12px;
  //border-top-right-radius: 12px;
  //border-bottom-left-radius: 12px;
  //bottom-right-radius: 12px;
  border-style: none;
  border-top-width: 3px;
  border-bottom-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  border-color:  $mainPanel-borderColor !important; 




}

//#fff;

// Top label 
.tb-itemlabel   {
	font-size : 14px; 
  padding-left: 5px;
  color       : #080000;


}

//rgba(29,67,156,0.85);
 .expandbutton   {
  align-content: flex-start;
  height : 32px;
  width : 32px;
  background-color : $mainNode-color;

}

//rgba(29,67,156,0.85);
.tb-closebutton   {
  align-content: flex-end;
	width : 32px;   
	height : 32px;
  background-color : $mainNode-color;
  padding-right: 5px;
}

//rgba(29,67,156,0.85);
.tb-highlightbutton   {
  align-content: flex-end;
	width : 32px;   
	height : 32px;
  background-color : $mainBackground-color;
}

.collapsetree {
  height : 0px;
  overflow: hidden;
  background-color: transparent;
  border-width: 0;
}






