// https://iamkate.com/code/tree-views/

.treecoeElement {
	display: block;
	height: 100%;
	width: 100%;
}

.treecoeWidget {
	margin: auto;
	width: 198px;
	height: 54px;
	border-radius: 5px;
	background-color: #DDDDDD;
	padding: 3px;
	opacity: 0.5;
}

//#item15::before {color: rgb(12, 12, 228)}
#item15 ul li::before  {
	color: rgb(235, 8, 224) !important;
}

.pseudo-update summary::before{ color:  rgb(175, 14, 113) }


.itemselected  {
	background: rgb(8, 0, 0) !important;
	color: rgb(252, 252, 252) !important;
 }

.tree{
  --spacing : 2.0rem; // line height of text
  --radius  : 10px; // radius of markers
 
}

.tree li{
  display      : block;
  position     : relative;
  padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
  color:rgb(255, 255, 255);
  margin: 10px 0;
}


  
.tree ul{
  margin-left  : calc(var(--radius) - var(--spacing));
  padding-left : 0;
}

.tree ul li{
  border-left : 2px solid #ddd;
  white-space: nowrap;
}

// Sub Items
.tree ul li:last-child{
  border-color : transparent;
  color:rgb(255, 255, 255);
}


.tree ul li::before{
  content      : '';
  display      : block;
  position     : absolute;
  top          : calc(var(--spacing) / -2);
  left         : -2px;
  width        : calc(var(--spacing) + 2px);
  height       : calc(var(--spacing) + 1px);
  border       : solid #ddd;
  border-width : 0 0 2px 2px;
}

.tree summary{
  display : block;
  cursor  : pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker{
  display : none;
}

.tree summary:focus{
  outline : none;
}

.tree summary:focus-visible{
  outline : 1px dotted #000;
}

// node circles 
.tree li::after,
.tree summary::before{
  content       : '';
  display       : block;
  position      : absolute;
  top           : calc(var(--spacing) / 2 - var(--radius));
  left          : calc(var(--spacing) - var(--radius) - 1px);
  width         : calc(2 * var(--radius));
  height        : calc(2 * var(--radius));
  border-radius : 50%;
  background    : rgb(7, 75, 193);
}

.tree summary::before{
  content     : '+';
  z-index     : 1;
  background  : #387EF5;
  color       : #fff;
  line-height : calc(2 * var(--radius) - 2px);
  text-align  : center;
}

.tree details[open] > summary::before{
  content : '−';
}

.contentcontainer {
  background-color : transparent;

}
.tree-uicontainer {

  background-color : transparent;
  display : flex;
  flex-direction : column;
  position : fixed; //Allowed values: static, absolute, fixed, relative, sticky, initial, inherit;  
  z-index:  900 !important;

}

.tree-toolbarcontainer  {
	display:flex;
  flex: auto;
  justify-content: space-between;
  border-style: solid;
  border : rgba(0,0,0,0.25);
  background-color:  rgba(29,67,156,0.85);
  z-Index :  910;
}

.filter-toolbarcontainer  {
	display:flex;
  flex: auto;
  justify-content: space-between;
  border-style: solid;
  border : rgba(0,0,0,0.25);
  background-color:  rgba(29,67,156,0.85);
  z-Index :  910;
}

.tb-searchbutton   {
  align-content: flex-end;
  padding-right: 20px;
	width : 32px;   
	height : 32px;
  background-color : rgba(29,67,156,0.85);
}


.treepanel {
  position : fixed;
  display : flex;
  flex-direction: column;
  border  : rgba(0,0,0,0.1);
  border-style: solid;
  background-color : rgba(29,67,156,0.85);
  //overflow-x : scroll;
  overflow-y : scroll;
  z-index:  900 !important;


}

// Top label 
.tb-itemlabel   {
	font-size : 14px; 
  padding-left: 5px;


}
 .expandbutton   {
  align-content: flex-start;
  height : 42px;
  width : 42px;
  background-color : rgba(29,67,156,0.85);

}
.tb-closebutton   {
  align-content: flex-end;
	width : 32px;   
	height : 32px;
  background-color : rgba(29,67,156,0.85);
}

.collapsetree {
  height : 0px;
  overflow: hidden;
  background-color: transparent;
  border-width: 0;
}






